<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="apiKey" value="P92bIuKCBWWpO5jEgkvApgsWFXszz3b9ffZM2LvVmklxdTjPGUdWxQRlfeSh0EbQ"/>
		<add key="secret" value="Asya16351635"/>
		<add key="signature" value="c85e430f8361a04e73a8471d38e6b80de85db3fc8e2237ca932be9f0728745bf"/>
	</appSettings>
  <runtime>
  </runtime>
</configuration>